# Homework 2: Classification

아래 데이터는 이번 과제에 사용할 "Cardio" 데이터입니다.   

각 컬럼에 대한 간단한 설명은 다음과 같습니다. 
1.	Age: 나이 (integer)   
2.	Height: 키(cm) (float)   
3.	Weight: 몸무게(kg) (float)   
4.	Gender: 성별 {‘M’, ‘F’} (binary)   
5.	Ap_hi: 수축기 혈압 (integer)   
6.	Ap_lo: 이완기 혈압 (integer)   
7.	Cholesterol: 콜레스테롤 상태 (categorical)   
8.	Gluc: 포도당 상태 (categorical)   
9.	Smoke: 흡연 여부 (binary)   
10.	Alco: 음주 여부 (binary)    
11.	Active: 신체 활동(운동) 여부 (binary)   
12.	Cardio: 심혈관계질환 여부 (binary, target variable)    

종속변수는 cardio입니다.

In [33]:
import numpy as np
import pandas as pd

In [34]:
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score, mean_squared_error
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix
import sklearn.metrics as metrics
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.preprocessing import OneHotEncoder

import matplotlib.pyplot as plt
from IPython.display import Image

In [35]:
df = pd.read_csv('./Cardio.csv')

In [36]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,61,F,155,69.0,130,80,above normal,above normal,no,no,yes,no
1,40,F,163,71.0,110,70,normal,normal,no,no,yes,yes
2,60,F,165,70.0,120,80,normal,normal,no,no,yes,no
3,39,M,165,85.0,120,80,normal,normal,yes,yes,yes,no
4,64,F,155,62.0,120,80,normal,normal,no,no,yes,no

## Question 
심혈관계질환 여부 ('cardio' = 1 or 0)을 예측하는 classification 문제를 해결하세요.

## [Guidline]
0. [주어진 데이터를 모델에 사용할 수 있도록 전처리해주세요.](#0)
1. [train과 test를 8:2로 나눠주세요.](#1)   
2. [train에 대해서 로지스틱 모델을 학습시키고 모델을 평가해주세요.](#2)
3. [train에 대해서 트리 모델을 학습시키고 모델을 평가해주세요.](#3)  
4. [train에 대해서 랜덤 포레스트 모델을 학습시키고 모델을 평가해주세요.](#4)
5. [트리 모델과 랜덤 포레스트 모델의 성능을 비교하고 왜 그런 차이가 났는 지 설명하세요.](#5)  
    * 주피터 마크다운에 간략하게 적어 주시면 됩니다.

<a id='0'></a>

## [0. 주어진 데이터를 모델에 사용할 수 있도록 전처리해주세요.](#0)

Hint: cardio 데이터를 종속 변수로 사용하려면 no:0, yes:1 에 대응이 되야 하며 여러 numeric값이 아닌 다른 컬럼들에 대해서도 __비슷한__ 전처리가 가능합니다.

In [37]:
df['cholesterol'].unique()
df['gluc'].unique()

array(['above normal', 'normal', 'well above normal'], dtype=object)

In [38]:
active = {'yes':1, 'no':0}
cardio = {'yes':1, 'no':0}
smoke = {'yes':1, 'no':0}
alco = {'yes':1, 'no':0}
gender = {'M':1, 'F':0}


cholesterol = {'above normal':2,'normal':1,'well above normal':0}
gluc = {'above normal':2,'normal':1,'well above normal':0}


df['gender'] = df['gender'].map(gender)
df['smoke'] = df['smoke'].map(smoke)
df['alco'] = df['alco'].map(alco)
df['active'] = df['active'].map(active)
df['cardio'] = df['cardio'].map(cardio)
df['cholesterol'] = df['cholesterol'].map(cholesterol)
df['gluc'] = df['gluc'].map(gluc)

df = pd.get_dummies(df, drop_first = True)

In [39]:
df.isnull()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
69296,False,False,False,False,False,False,False,False,False,False,False,False
69297,False,False,False,False,False,False,False,False,False,False,False,False
69298,False,False,False,False,False,False,False,False,False,False,False,False
69299,False,False,False,False,False,False,False,False,False,False,False,False
69300,False,False,False,False,False,False,False,False,False,False,False,False

In [40]:
df.isnull().sum(1)

0        0
1        0
2        0
3        0
4        0
        ..
69296    0
69297    0
69298    0
69299    0
69300    0
Length: 69301, dtype: int64

In [41]:
df.isnull().sum()

age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

<a id='1'></a>

## [1. train과 test를 8:2로 나눠주세요.](#0)

In [42]:
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values
X

array([[ 61.,   0., 155., ...,   0.,   0.,   1.],
       [ 40.,   0., 163., ...,   0.,   0.,   1.],
       [ 60.,   0., 165., ...,   0.,   0.,   1.],
       ...,
       [ 52.,   1., 183., ...,   0.,   1.,   0.],
       [ 61.,   0., 163., ...,   0.,   0.,   0.],
       [ 56.,   0., 170., ...,   0.,   0.,   1.]])

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.2,
                                                    random_state= 1229)

<a id='2'></a>

## [2. train에 대해서 로지스틱 모델을 학습시키고 모델을 평가해주세요.](#0)

In [44]:
from sklearn.linear_model import LogisticRegression

logistic_ = LogisticRegression()
logistic_.fit(X_train, y_train)

traindata = logistic_.predict(X_train)
testdata = logistic_.predict(X_test)

C:\Users\white\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

<a id='3'></a>

## [3. train에 대해서 트리 모델을 학습시키고 모델을 평가해주세요.](#0)

In [52]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier()
tree.fit(X_train, y_train)

train_pred_tree = tree.predict(X_train)
test_pred_tree = tree.predict(X_test)

In [57]:
print('트레인데이터')
print('Accuracy: ', round(accuracy_score(y_train, train_pred_tree),3))
print('테스트데이터')
print('Accuracy: ', round(accuracy_score(y_test, test_pred_tree),3))

트레인데이터
Accuracy:  0.981
Precision: 0.996
테스트데이터
Accuracy:  0.636
Precision: 0.643

<a id='4'></a>

## [4. train에 대해서 랜덤 포레스트 모델을 학습시키고 모델을 평가해주세요.](#0)

In [58]:
from sklearn.ensemble import RandomForestClassifier

randomforest = RandomForestClassifier()
randomforest.fit(X_train, y_train)

train_random = randomforest.predict(X_train)
test_random = randomforest.predict(X_test)

print('Accuracy: ', round(accuracy_score(y_train, train_random),3))
print('Accuracy: ', round(accuracy_score(y_test, test_random),3))

Accuracy:  0.981
Accuracy:  0.707

<a id='5'></a>

## [5. 트리 모델과 랜덤 포레스트 모델의 성능을 비교하고 왜 그런 차이가 났는 지 설명하세요.](#0)

랜덤 포레스트의 장점은 병렬 형식으로 트리를 형성하기 때문에 정확합니다. 이 이유로 인해서 랜덤 포레스트 모델이 트리모델보다 정확도가 더 많이 나왔습니다.