# Homework 2: Classification

아래 데이터는 이번 과제에 사용할 "Cardio" 데이터입니다.   

각 컬럼에 대한 간단한 설명은 다음과 같습니다. 
1.	Age: 나이 (integer)   
2.	Height: 키(cm) (float)   
3.	Weight: 몸무게(kg) (float)   
4.	Gender: 성별 {‘M’, ‘F’} (binary)   
5.	Ap_hi: 수축기 혈압 (integer)   
6.	Ap_lo: 이완기 혈압 (integer)   
7.	Cholesterol: 콜레스테롤 상태 (categorical)   
8.	Gluc: 포도당 상태 (categorical)   
9.	Smoke: 흡연 여부 (binary)   
10.	Alco: 음주 여부 (binary)    
11.	Active: 신체 활동(운동) 여부 (binary)   
12.	Cardio: 심혈관계질환 여부 (binary, target variable)    

종속변수는 cardio입니다.

In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score, mean_squared_error
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix
import sklearn.metrics as metrics
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.preprocessing import OneHotEncoder

import matplotlib.pyplot as plt
from IPython.display import Image

In [3]:
df = pd.read_csv('./Cardio.csv')

In [4]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,61,F,155,69.0,130,80,above normal,above normal,no,no,yes,no
1,40,F,163,71.0,110,70,normal,normal,no,no,yes,yes
2,60,F,165,70.0,120,80,normal,normal,no,no,yes,no
3,39,M,165,85.0,120,80,normal,normal,yes,yes,yes,no
4,64,F,155,62.0,120,80,normal,normal,no,no,yes,no

## Question 
심혈관계질환 여부 ('cardio' = 1 or 0)을 예측하는 classification 문제를 해결하세요.

## [Guidline]
0. [주어진 데이터를 모델에 사용할 수 있도록 전처리해주세요.](#0)
1. [train과 test를 8:2로 나눠주세요.](#1)   
2. [train에 대해서 로지스틱 모델을 학습시키고 모델을 평가해주세요.](#2)
3. [train에 대해서 트리 모델을 학습시키고 모델을 평가해주세요.](#3)  
4. [train에 대해서 랜덤 포레스트 모델을 학습시키고 모델을 평가해주세요.](#4)
5. [트리 모델과 랜덤 포레스트 모델의 성능을 비교하고 왜 그런 차이가 났는 지 설명하세요.](#5)  
    * 주피터 마크다운에 간략하게 적어 주시면 됩니다.

<a id='0'></a>

## [0. 주어진 데이터를 모델에 사용할 수 있도록 전처리해주세요.](#0)

Hint: cardio 데이터를 종속 변수로 사용하려면 no:0, yes:1 에 대응이 되야 하며 여러 numeric값이 아닌 다른 컬럼들에 대해서도 __비슷한__ 전처리가 가능합니다.

In [5]:
df['cholesterol'].unique()
df['gluc'].unique()

array(['above normal', 'normal', 'well above normal'], dtype=object)

In [6]:
cholesterol = {'above normal':2,'normal':1,'well above normal':0}
gluc = {'above normal':2,'normal':1,'well above normal':0}

In [7]:

gender = {'M':1, 'F':0}
smoke = {'yes':1, 'no':0}
alco = {'yes':1, 'no':0}
active = {'yes':1, 'no':0}
cardio = {'yes':1, 'no':0}




df['gender'] = df['gender'].map(gender)
df['smoke'] = df['smoke'].map(smoke)
df['alco'] = df['alco'].map(alco)
df['active'] = df['active'].map(active)
df['cardio'] = df['cardio'].map(cardio)
df['cholesterol'] = df['cholesterol'].map(cholesterol)
df['gluc'] = df['gluc'].map(gluc)

df = pd.get_dummies(df, drop_first = True)

In [8]:
df.isnull()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
69296,False,False,False,False,False,False,False,False,False,False,False,False
69297,False,False,False,False,False,False,False,False,False,False,False,False
69298,False,False,False,False,False,False,False,False,False,False,False,False
69299,False,False,False,False,False,False,False,False,False,False,False,False
69300,False,False,False,False,False,False,False,False,False,False,False,False

In [9]:
df.isnull().sum(1)

0        0
1        0
2        0
3        0
4        0
        ..
69296    0
69297    0
69298    0
69299    0
69300    0
Length: 69301, dtype: int64

In [10]:
df.isnull().sum()

age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

<a id='1'></a>

## [1. train과 test를 8:2로 나눠주세요.](#0)

In [11]:
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values
X

array([[ 61.,   0., 155., ...,   0.,   0.,   1.],
       [ 40.,   0., 163., ...,   0.,   0.,   1.],
       [ 60.,   0., 165., ...,   0.,   0.,   1.],
       ...,
       [ 52.,   1., 183., ...,   0.,   1.,   0.],
       [ 61.,   0., 163., ...,   0.,   0.,   0.],
       [ 56.,   0., 170., ...,   0.,   0.,   1.]])

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.2,
                                                    random_state= 1229)

In [13]:
print('X_train shape:', X_train.shape)
print('X_test shape:', X_test.shape)
print('y_train shape:', y_train.shape)
print('y_test shape:', y_test.shape)

X_train shape: (55440, 11)
X_test shape: (13861, 11)
y_train shape: (55440,)
y_test shape: (13861,)

<a id='2'></a>

## [2. train에 대해서 로지스틱 모델을 학습시키고 모델을 평가해주세요.](#0)

In [14]:
from sklearn.linear_model import LogisticRegression

logistic_ = LogisticRegression()
logistic_.fit(X_train, y_train)

train_ = logistic_.predict(X_train)
test_ = logistic_.predict(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [15]:

print('Train Data')
print('정확도: ', round(accuracy_score(y_train, train_),3))
print('Precision:', round(precision_score(y_train, train_),3))
print('Recall: ', round(recall_score(y_train, train_),3))
print('F1 Score:', round(f1_score(y_train, train_),3))


print('Test Data')
print('정확도: ', round(accuracy_score(y_test, test_),3))
print('Precision:', round(precision_score(y_test, test_),3))
print('Recall: ', round(recall_score(y_test, test_),3))
print('F1 Score:', round(f1_score(y_test, test_),3))

Train Data
정확도:  0.699
Precision: 0.711
Recall:  0.669
F1 Score: 0.69
Test Data
정확도:  0.701
Precision: 0.717
Recall:  0.669
F1 Score: 0.692

In [16]:
print('회귀계수:', logistic_.coef_)
print('Accuracy:', round(logistic_.score(X, y),3))

회귀계수: [[ 4.51122006e-02  2.77601218e-01 -4.33932495e-02  2.05127152e-02
   3.19055719e-02  2.98823071e-04 -2.78419417e-01  1.80074573e-02
  -1.35677763e-01 -1.34644148e-01 -3.29315071e-01]]
Accuracy: 0.7

In [17]:
pred_logistic = logistic_.predict(X)

print('Accuracy: ', round(accuracy_score(y, pred_logistic),3))
print('Recall: ', round(recall_score(y, pred_logistic),3))
print('Precision:', round(precision_score(y, pred_logistic),3))
print('F1 Score:', round(f1_score(y, pred_logistic),3))

Accuracy:  0.7
Recall:  0.669
Precision: 0.712
F1 Score: 0.69

<a id='3'></a>

## [3. train에 대해서 트리 모델을 학습시키고 모델을 평가해주세요.](#0)

In [18]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier()
tree.fit(X_train, y_train)

train_pred_tree = tree.predict(X_train)
test_pred_tree = tree.predict(X_test)

In [19]:
print('Train Data')
print('Accuracy: ', round(accuracy_score(y_train, train_pred_tree),3))
print('Precision:', round(precision_score(y_train, train_pred_tree),3))
print('Recall: ', round(recall_score(y_train, train_pred_tree),3))
print('F1 Score:', round(f1_score(y_train, train_pred_tree),3))

Train Data
Accuracy:  0.981
Precision: 0.996
Recall:  0.965
F1 Score: 0.98

In [20]:
print('Test Data')
print('Accuracy: ', round(accuracy_score(y_test, test_pred_tree),3))
print('Precision:', round(precision_score(y_test, test_pred_tree),3))
print('Recall: ', round(recall_score(y_test, test_pred_tree),3))
print('F1 Score:', round(f1_score(y_test, test_pred_tree),3))

Test Data
Accuracy:  0.637
Precision: 0.644
Recall:  0.618
F1 Score: 0.631

In [21]:
#복잡한 트리는 기존에 있는 데이터들은 잘 예측하나, 새로운 데이터는 잘 예측하지 못하고 있음
#적당한 가지에서 잘라내야함, pruning
tree = DecisionTreeClassifier(max_depth = 3)
tree.fit(X_train, y_train)

train_pred_tree = tree.predict(X_train)
test_pred_tree = tree.predict(X_test)

In [22]:
print('Train Data')
print('Accuracy: ', round(accuracy_score(y_train, train_pred_tree),3))
print('Precision:', round(precision_score(y_train, train_pred_tree),3))
print('Recall: ', round(recall_score(y_train, train_pred_tree),3))
print('F1 Score:', round(f1_score(y_train, train_pred_tree),3))

Train Data
Accuracy:  0.726
Precision: 0.75
Recall:  0.676
F1 Score: 0.711

In [23]:
print('Test Data')
print('Accuracy: ', round(accuracy_score(y_test, test_pred_tree),3))
print('Precision:', round(precision_score(y_test, test_pred_tree),3))
print('Recall: ', round(recall_score(y_test, test_pred_tree),3))
print('F1 Score:', round(f1_score(y_test, test_pred_tree),3))

Test Data
Accuracy:  0.724
Precision: 0.753
Recall:  0.67
F1 Score: 0.709

<a id='4'></a>

## [4. train에 대해서 랜덤 포레스트 모델을 학습시키고 모델을 평가해주세요.](#0)

In [24]:
from sklearn.ensemble import RandomForestClassifier

randomforest = RandomForestClassifier()
randomforest.fit(X_train, y_train)

train_pred_randomforest = randomforest.predict(X_train)
test_pred_randomforest = randomforest.predict(X_test)

print('Train Data')
print('정확도: ', round(accuracy_score(y_train, train_pred_randomforest),3))
print('Test Data')
print('정확도: ', round(accuracy_score(y_test, test_pred_randomforest),3))

Train Data
정확도:  0.98
Test Data
정확도:  0.706

<a id='5'></a>

## [5. 트리 모델과 랜덤 포레스트 모델의 성능을 비교하고 왜 그런 차이가 났는 지 설명하세요.](#0)

트리모델

트리 모델은 머신 러닝에 사용되는 지도 학습 알고리즘 입니다. 이름에서 알 수 있듯이 노드가 있는 트리와 같습니다. 분기는 기준의 수에 따라 다릅니다. 임계값 단위에 도달할 때까지 데이터를 이와 같은 분기로 분할합니다. 의사 결정 트리에는 루트 노드, 자식 노드 및 리프 노드가 있습니다.

재귀 알고리즘을 사용합니다. 데이터를 정확하게 처리하고 선형 패턴에 가장 적합합니다. 대용량 데이터를 쉽게 처리하고 시간이 덜 걸립니다.

장점은 쉽고 투명한 과정을 거치며 숫자 및 범주 데이터 모두 처리합니다.
데이터가 클수록 더 나은 결과를 보이고 속도가 빠릅니다.
단점운 과적합될 수 있으며 가지 치기 과정을 해야하는 경우가 생깁니다.
가지 치기를 하면 과적합을 방지하여 더 높은 
최적화가 보장되지는 않습니다.




랜덤 포레스트 모델

랜덤 포레스트 모델은 기본적인 차이점은 단일 결정에 의존하지 않는다는 것입니다. 여러 결정을 기반으로 무작위 결정을 조합하고 다수를 기반으로 최종 결정을 내립니다.

최상의 예측을 검색하지 않습니다. 대신 여러 무작위 예측을 수행합니다. 따라서 더 많은 다양성이 추가되고 예측이 훨씬 원활해집니다.

랜덤 포레스트 모델의 장점은 강력하고 정확하며 병렬 방식으로 트리를 실행시킵니다. 단점은 느리며 선형 방법에는 사용할 수 없습니다.
고차원 데이터의 경우 더 나쁜 결과가 나올 수 있습니다.




트리 모델과 랜덤 포레스트 모델의 성능 비교

랜덤 포레스트 모델이 트리 모델보다 더 나은 Accuracy를 보여주었습니다.
하지만 트리 모델에 max_depth = 3으로 가지치기를 시도하자, 가지치기를 시도한
트리 모델이 과정합을 방지하고 정확도가 올라가 트리 모델의 '새로운 데이터에 대한 예측을 잘못한다는 점'이 보완되었습니다. 기존 트리 모델보다 Train Data에 대한 Precision, Recall, F1 Score, Accuracy의 수치들이 더 낮아졌지만 Test Data에 대해서는 Precision, Recall, F1 Score, Accuracy의 수치들이 더 높은 값을 기록했습니다. 또한 max_depth = 3으로 가지치기한 트리 모델이 랜덤 포레스트 모델보다 Test Data에 대해서 약간 더 높은 Accuracy를 보여주었습니다.

트리 모델은 빠르고 큰 데이터 세트, 특히 선형 데이터 세트에서 쉽게 작동하지만 반면에 랜덤 포레스트 모델은 엄격한 훈련이 필요합니다. 따라서 랜덤 포레스트 모델은 시간이 더 많이 걸립니다.
트리 모델은 랜덤 포레스트 모델에 비해 매우 쉽습니다. 트리 모델은 몇 가지 결정을 결합하는 반면 랜덤 포레스트 모델은 여러 의사 결정 트리를 결합합니다. 따라서 프로세스가 길고 느리지만 랜덤 포레스트 모델은 여러 무작위 예측을 수행하기 때문에 더 많은 다양성이 추가되어 예측이 훨씬 원할해집니다.

랜덤 포레스트 모델은 단일 결정에 의존하지 않고 여러 결정을 기반으로 무작위 결정을 조합하고 다수를 기반으로 최종결정을 내리므로 랜덤 포레스트 모델이 트리 모델보다 더 나은 Accuracy를 보여주었습니다.
그러나 트리 모델의 '복잡한 트리는 기존에 있는 데이터들은 잘 예측하나, 새로운 데이터는 잘 예측하지 못한다'는 단점을 보완하기 위해 과적합을 방지하고 정확도를 높일 수 있는 max_depth = 3로 pruning(적당한 가지에서 잘라내기)을 시도하여 Accuracy를 높이자 테스트 데이터에서 랜덤 포레스트 모델보다 약간 더 높은 Accuracy를 보여주었습니다.