# Homework 2: Classification

아래 데이터는 이번 과제에 사용할 "Cardio" 데이터입니다.   

각 컬럼에 대한 간단한 설명은 다음과 같습니다. 
1.	Age: 나이 (integer)   
2.	Height: 키(cm) (float)   
3.	Weight: 몸무게(kg) (float)   
4.	Gender: 성별 {‘M’, ‘F’} (binary)   
5.	Ap_hi: 수축기 혈압 (integer)   
6.	Ap_lo: 이완기 혈압 (integer)   
7.	Cholesterol: 콜레스테롤 상태 (categorical)   
8.	Gluc: 포도당 상태 (categorical)   
9.	Smoke: 흡연 여부 (binary)   
10.	Alco: 음주 여부 (binary)    
11.	Active: 신체 활동(운동) 여부 (binary)   
12.	Cardio: 심혈관계질환 여부 (binary, target variable)    

종속변수는 cardio입니다.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('./Cardio.csv')

In [3]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,61,F,155,69.0,130,80,above normal,above normal,no,no,yes,no
1,40,F,163,71.0,110,70,normal,normal,no,no,yes,yes
2,60,F,165,70.0,120,80,normal,normal,no,no,yes,no
3,39,M,165,85.0,120,80,normal,normal,yes,yes,yes,no
4,64,F,155,62.0,120,80,normal,normal,no,no,yes,no

   age  height  weight  ap_hi  ap_lo
0   61     155    69.0    130     80
1   40     163    71.0    110     70
2   60     165    70.0    120     80
3   39     165    85.0    120     80
4   64     155    62.0    120     80

## Question 
심혈관계질환 여부 ('cardio' = 1 or 0)을 예측하는 classification 문제를 해결하세요.

## [Guidline]
0. [주어진 데이터를 모델에 사용할 수 있도록 전처리해주세요.](#0)
1. [train과 test를 8:2로 나눠주세요.](#1)   
2. [train에 대해서 로지스틱 모델을 학습시키고 모델을 평가해주세요.](#2)
3. [train에 대해서 트리 모델을 학습시키고 모델을 평가해주세요.](#3)  
4. [train에 대해서 랜덤 포레스트 모델을 학습시키고 모델을 평가해주세요.](#4)
5. [트리 모델과 랜덤 포레스트 모델의 성능을 비교하고 왜 그런 차이가 났는 지 설명하세요.](#5)  
    * 주피터 마크다운에 간략하게 적어 주시면 됩니다.

<a id='0'></a>

## [0. 주어진 데이터를 모델에 사용할 수 있도록 전처리해주세요.](#0)

Hint: cardio 데이터를 종속 변수로 사용하려면 no:0, yes:1 에 대응이 되야 하며 여러 numeric값이 아닌 다른 컬럼들에 대해서도 __비슷한__ 전처리가 가능합니다.

In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)
from sklearn.model_selection import train_test_split,cross_val_predict
from sklearn.linear_model import LogisticRegression
from sklearn.dummy import DummyClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, \
    roc_auc_score, confusion_matrix, classification_report, plot_roc_curve

In [2]:
df = pd.read_csv('./Cardio.csv', sep '=')

NameError: name 'df' is not defined

<a id='1'></a>

## [1. train과 test를 8:2로 나눠주세요.](#0)

<a id='2'></a>

## [2. train에 대해서 로지스틱 모델을 학습시키고 모델을 평가해주세요.](#0)

<a id='3'></a>

## [3. train에 대해서 트리 모델을 학습시키고 모델을 평가해주세요.](#0)

<a id='4'></a>

## [4. train에 대해서 랜덤 포레스트 모델을 학습시키고 모델을 평가해주세요.](#0)

<a id='5'></a>

## [5. 트리 모델과 랜덤 포레스트 모델의 성능을 비교하고 왜 그런 차이가 났는 지 설명하세요.](#0)